/* eliminate browser styles */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* background is a bluish gray */
body{
    background-color: rgb(190, 214, 214);
    font-family: Rubik, Arial;
}

.navbar{
    height: 50px;
    display: flex;
    background-color: white;
    justify-content: space-between; 
    align-items: center;
    padding: 5px;
}

.navbar_brand{
    height: 50px;
    width: 100px;
}

.navbar_brand_image{
    width: 100%;
    height: 100%;
}

.button_primary{
    background-image: linear-gradient(
        to right,
        rgb(255, 28, 28),
        rgb(255, 30, 30),
        rgb(252, 21, 21)
    );

    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
    flex-direction: column;
    gap: 50px;
}

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero_image_container{
    width: 100%;
    height: 200px;
}

.hero_image{
    width: 100%;
    height: 100%;
}

.hero_description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.hero_description_text{
    text-align: center;
    color: #192f4e;
}

.hero_button{
    width: 30%;
}

.explore_menu_container{
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: relative;
}

.menu_card_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu_card{
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.food_image{
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0px 0px;
}

.menu_card_description{
    padding: 10px;
}

.restaurants_selection{
    width: 100%;
}

.restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restaurants_selection_description{
    text-align: center;
}

.restaurants_row_one, 
.restaurants_row_two {
    width: 100%;
    display: flex;
    gap: 5px;
}

.restaurant_one,
.restaurant_two,
.restaurant_three,
.restaurant_four{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.footer_navbar{
    width: 100%;
    position: relative;
    padding: 20px;
}

.footer_brand_container{
    width:100%;
    height: 100px;
}

.footer_brand_image{
    width: 100%;
    height: 100%;
}

.footer_navigation_list{
    list-style: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.footer_navbar_background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to right,
        rgba(255, 32, 32, 0.757),
        rgba(255, 30, 30, 0.757),
        rgba(252, 21, 21, 0.757));
    z-index: -1;
}

@media (min-width: 768px){
    /* tablet */

    .container{
        gap: 100px;
    }

    .navbar {
        height: 70px;
    }

    .navbar_brand {
        height: 80px;
        width: 150px;
    }

    .button_primary {
        padding: 18px;
        font-size: 20px;
        border-radius: 10px;
    }

    .hero {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .hero_image_container {
        height: 300px;
    }

    .hero_button {
        width: 50%;
    }

    .alt_image_card{
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .menu_card_list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 30px;
    }

    .explore_menu_background {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right,
                rgb(255, 28, 28),
                rgb(255, 30, 30),
                rgb(252, 21, 21));
        z-index: -1;
        transform: skewY(-4deg);
    }

    .restaurants_selection {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-evenly;
    }

    .restaurants {
        width: 50%;
    }

    .restaurants_row_one,
    .restaurants_row_two {
        align-items: center;
    }

    .restaurant_one,
    .restaurant_four {
        width: 35%;
        height: 40%;
    }

    .restaurant_two,
    .restaurant_three {
        width: 65%;
        height: 60%;
    }

    .footer_navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer_brand_container{
        width: 200px;
    }

    .footer_navigation_list{
        text-align: left;
    }
}

@media (min-width: 1020px) {
    /* laptop */
    .navbar {
        height: 60px;
    }

    .navbar_brand {
        height: 80px;
        width: 150px;
    }

    .button_primary {
        padding: 13px;
        font-size: 15px;
        border-radius: 10px;
    }

    .container {
        width: 1100;
    }

    .hero {
        width: 100%;
        justify-content: space-evenly;
        gap: 10px;
        padding: 15px;
    }

    .hero_image_container {
        width: 500px;
    }

    .hero_button {
        width: 30%;
    }

    .menu_card_list{
        padding: 0px 10px;
    }

    .restaurants {
        width: 40%;
    }
}

@media (min-width: 1400px){
    .hero_image_container {
        width: 600px;
        height: 400px;
    }
}